<div class="row">
  <div class="small-6 large-centered columns">
      <TABLE>
        <TR>
          <TD><strong>Comic</TD>
          <TD><strong>Add</TD>
          <TD><strong>Remove</TD>
          <TD><strong>Homepage</TD>
        </TR>
          <% @comic.each do |list| %>
          <TR>
            <TD><strong><%= list.name %></strong></TD>
            <TD><%= link_to "Add", favorites_path(list), method: :post %></TD>
            <TD><%= link_to "Remove", favorite_path(list), method: :delete %></TD>
            <TD><a href=<%= list.scraper_url %>><%=list.name %> Home</a></TD>
          </TR>
        <% end %>
      </TABLE>
  </div>
</div>
