<% @comic_list.each do |list| %>
  <div class="row">
    <div class="small-10 large-centered columns">
      <div class="panel">
        <strong><%=list["name"]%></strong>
        <p>Title: <%=list["title"]%></p>
        <img src=<%= list["image"] %> align=center>
        <p>
        <a href=<%=list["archive"]%>>Visit the full <%=list["name"]%>
          archive here!</a></p>
      </div>
    </div>
  </div>
<% end %>
