<!DOCTYPE html>
<html>
<head>
  <title>Kapow</title>
  <link rel="stylesheet" href="/css/foundation.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="contain-to-grid sticky">
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><%= link_to image_tag("/img/kapow.png", :width => 150), root_path, {:class => 'name'} %></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>
      <section class="top-bar-section">
        <ul class="right">
          <% if user_signed_in? %>
            <li class="active"><a href="#">Logged in as <%= current_user.email %></a></li>
            <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' %></li>
          <% else %>
            <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></li>
            <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
          <% end %>
        </ul>
        <ul class="left">
          <li ><%= link_to "Home", root_path %></li>
          <li><a href="#">Settings</a></li>
          <li ><a href="#">Contact</a></li>
        </ul>
      </section>
    </nav>
  </div>

  <div class="row">
    <div class="large-6 columns"><p></p></div>
  </div>

    <% if notice %>
      <p class="alert-box alert-success"><%= notice %></p>
    <% end %>

    <% if alert %>
      <p class="alert-box alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>

  <footer class="row">
    <div class="large-12 columns">
      <hr/>
      <div class="row">
        <div class="large-6 columns">
          <p>This is a project by Jamie Francese</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="#">Info</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">About</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

</body>
</html>
<!DOCTYPE html>
<html>
